body {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
@font-face {
  font-family: opensans;
  src: url(https://holywindmill.github.io/diploma/fonts/opensans-regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: opensans;
  src: url(https://holywindmill.github.io/diploma/fonts/opensans-bold.woff);
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 1920px), (min-width: 961px) and (max-width: 1919px) {
  .header {
    background-image: url("https://holywindmill.github.io/diploma/images/football_1920.jpg");
    padding-top: 110px;
    padding-bottom: 222px;
  }
  .surface_logo {
    width: 190px;
    height: 52px;
  }
  .header_title {
    margin-left: 9.2%;
    font-size: 90px;
    line-height: 92px;
    margin-top: 295px;
    margin-bottom: 223px;
  }
  .second_line_title {
    margin-right: 9.2%;
  }
  .download_app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .download_app_box {
    font-size: 14px;
    width: 310px;
    height: 77px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .download_app_box:nth-child(n+2) {
    margin-left: 51px;
  }
  .download_app_icon {
    width: 60px;
    height: 48px;
    padding: 13px 30px;
  }
  .download_app_text {
    font-size: 14px;
  }
  .section_title, .connection_article, .collaboration_article, .growth_article {
    padding-left: 52%;
  }
  .connection_article, .collaboration_article, .growth_article {
    margin-right: 9.2%;
  }
  .athlets_content_box, .players_content_box {
    display: flex;
    flex-direction: column; 
    width: 100%; 
  }
  .section_text {
    font-size: 20px;
  }
  .section_title {
    margin-top: 115px;
    font-size: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  } 
  .section_header {
    flex-wrap: wrap;
  }
  .number {
    font-size: 18px;
  }
  .number::after {
    margin-top: 7px;
  }
  .section_header_title {
    font-size: 36px; 
  }
  .athlets, .players {
    display: flex;
  }
  .athlets_image, .players_image {
    position: absolute;
  }
  .athlets_image {
    left: 0;
    top: 1.5%;
  }
  .players_image {
    right: 0;
    top: 1.5%;
  }
  .players_section_title, .players_connection, .players_collaboration, .players_growth {
    width: 40%;
    padding-right: 52%;
    padding-left: 9.2%;
  }
  .players_section_title {
    font-size: 80px; 
  }
 
  .be_active, .find_contact, .work_it {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
  .image {
    flex-basis: 50%;
  }
  .content_box {
/*     width: 50%; */
  }
  .image:nth-child(2n+2) {
    order: 1;
  }
  .be_active_article, .work_it_article {
    margin-left: 13%;
    margin-right: 19%;
  }
  .find_contact_article {
    margin-left: 9.5%;
    margin-right: 6.5%;
  }
  .box {
    width: 168px;
    height: 155px;
    left: 50%;
    bottom: 50%;
  }
  .index {
    font-size: 24px;
  }
  .index::after {
    width: 21px;
    height: 5px;
    margin-top: 7px;
  }
  .aside_title {
    font-size: 80px;
    margin-top: 260px;
  }
  .aside_text {
    font-size: 24px;
  }
  .image, .content_box {
    display: flex;
    flex-wrap: wrap;
  } 
  
  .footer {
    background-image: url("https://holywindmill.github.io/diploma/images/game_1920.jpg");
    padding-top: 229px;
    padding-bottom: 52px;
  }
  .download_cta {
    margin: auto;
    display: flex;
    align-items: center;
    width: 865px;
  }
  .surface_cta_text {
    font-size: 30px;
  }
  .surface_cta_text:first-child {
    font-size: 80px;
 }
  .footer_surface_logo {
    width: 160px;
    padding: 25px 16px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("https://holywindmill.github.io/diploma/images/football_1280.jpg");
  } 
  .surface_logo {
    width: px;
    height: px;
  }
  .surface_icon_text {
    margin-top: px;  
  }
  .first_line_title {
    margin-left: 10%;
  }
  .second_line_title {
    margin-left: 33%;
  }
  .header_title {
    line-height: 92px;
    margin-top: px;
  }
  .download_app {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: px; 
    margin-bottom: px;
  }
  .download_app_box {
    width: px;
    height: px;
    margin-bottom: px;
    border-radius: px;
  }
  .download_app_icon {
    width: px;
    height: px;
    padding-left: px;
    padding-top: px;
    padding-bottom: px;
    padding-right: px;
  }
  .download_app_text {
    padding-top: px;
    font-size: px;
  }
  .download_app_item:nth-child(n+2) {
    margin-left: 51px;
  }
}
@media (max-width: 640px) {
  .header {
    background-image: url("https://holywindmill.github.io/diploma/images/football_767.jpg");
    padding: 10.3% 6.3% 26.3%;
  } 
  .surface_logo {
    width: 133px;
    height: 36px;
  }
  .surface_icon_text {
    margin-top: 33px;  
  }
  .header_title {
    font-size: 28px;
    line-height: 40px;
    margin-top: 137px;
  }
  .second_line_title {
/*     text-align: right; */
  }
  .download_app {
    display: block;
    font-size: 8px;
    margin-top: 90px;
  }
  .download_app_box:last-child {
    margin-top: 14px;
  }
  .download_app_box {
    width: 100%;
    height: 35px;
    border-radius: 50px;
  }
  .download_app_icon {
    width: 24px;
    height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
  }
  .download_app_text {
    font-size: 8px;
  }
  .download_app_store {
    display: block;
    justify-content: center;
  }
  
  
  .background_box, .background_collaboration_box, .background_growth_box {
    display: flex;
  }
  .section_title {
    font-size: 50px;
  }
  .number::after {
    margin-top: 4px;
  }
  .section_header_title {
    font-size: 23px;
  }
  .section_title, .connection_article, .collaboration_article, .growth_article, .players_section_title, .players_connection, .players_collaboration, .players_growth {
    padding-left: 6.5%;
    padding-right: 7.8%;
  } 
  .section_text {
    font-size: 20px;
  }
  .athlets_image {
    width: 60%;
    margin: auto;
  }
  .players_image {
    width: 94%;
    margin: auto;
 
  }
  .players_section_title {
    font-size: 50px;
  }
  
  
  .be_active, .find_contact, .work_it {
    display: block;
    position: relative;
  }
  .image {
    width: 100%;
  }
  .content_box {
    padding-left: 6.5%;
    padding-right: 7.8%;
  }
  .box {
    width: 70px;
    height: 70px;
    left: 6.5%;
    bottom: 20%;
  }
  .index {
    font-size: 14px;
  }
  .index::after {
    width: 14px;
    height: 4px;
  }
  .aside_title {
    font-size: 28px;
    margin-top: 34px; 
  }
  .aside_text {
    font-size: 16px;
    padding-bottom: 50px;
  }
  
  
  .footer {
    background-image: url("https://holywindmill.github.io/diploma/images/game_767.jpg");
    padding: 31% 6.3% 3.1%;
  }
  .download_cta {
    display: block;
  }
  .surface_cta {
    text-align: center;
  }
  .surface_cta_text {
    font-size: 14px;  
  }
  .surface_cta_text:first-child {
    font-size: 32px;
  }
  .footer_surface_logo {
    margin: auto;
    width: 72px;
    padding: 12px;
  }
}







.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.header::after {
  content: "";
  background-color: #000033;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}
.banner {
  position: relative;
  z-index: 1;
}
.header_title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: opensans, sans-serif;
  margin-left: 9.2%;
  }
.second_line_title {
  text-align: right; 
  display: block;
  margin-right: 9.2%;
}
.surface_logo {
  margin: auto;
}
.download_app_box {
  text-transform: uppercase;
  font-weight: 400;
  font-family: opensans, sans-serif;
  color: #ffffff;
  background-color: #5e42b0;
  border: 1px solid #5e42b0;
  border-radius: 50px;
}
.download_app_store {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.download_app_box:hover {
 background-color: #4242b0;
}
.download_app_icon {
  fill: #ffffff;
}
.download_app_text {
  padding-left: 0;
  list-style-type: none;
  font-weight: 400;
  align-self: center;
}
.download_app_text_item:last-child {
  font-weight: 700;
}

.section_text {
  color: #000000;
  font-weight: 400;
  font-family: opensans, sans-serif;
}
.section_text:nth-child(3n+3) {
  color: #ffffff;
}
.background_collaboration_box {
  width: 100%;
  background-color: #f6f4fa;
}
.background_growth_box {
  width: 100%;
  background-color: #5e42b0;
}
.section_title {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: 700;
  font-family: opensans, sans-serif;
} 
.section_header {
  display: flex;
  align-items: center;
}
.number {
  color: #000000;
  font-weight: 700;
  font-family: opensans, sans-serif;
  margin-right: 15px;
}
.number::after {
  content:"";
  display: block;
  background-color: #5e42b0;
  width: 21px;
  height: 5px;
  border-radius: 25%;
  }
.number::after:nth-child(3n+3) {
  background-color: #ffffff;
}
.section_header_title {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: 700;
  font-family: opensans, sans-serif;
}
.athlets, .players {
  position: relative;
}
.players_content_box {
  width: 100%;
}
.players_section_title {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: 700;
  font-family: opensans, sans-serif;
}


.box {
  background-color: #5e42b0;
  position: absolute;
  display: flex;
}
.index {
  color: #ffffff;
  font-weight: 700;
  margin: auto;
}
.index::after {
  content:"";
  display: block;
  background-color: #8f7bc8;
  border-radius: 25%;
}
.aside_title {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: 700;
  font-family: opensans, sans-serif;
}
.aside_text {
  color: #000000;
  font-weight: 400;
  font-family: opensans, sans-serif;
}


.footer {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}
.footer_background {
  position: relative;
  z-index: 1;
}
.footer_surface_logo {
  fill: #ffffff;
  background-color: #6e4fca;
  border-radius: 25%;
  box-sizing: border-box;
}
.surface_cta {
  padding-left: 0;
  list-style-type: none;
  font-family: opensans, sans-serif;
  font-weight: 400;
}
.surface_cta_text {
  text-transform: uppercase;
  color: #f6f4fa;
  
}
.surface_cta_text:first-child {
  color: #ffffff;
  font-weight: 700;
}
.download_app_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 151px;
    margin-bottom: 262px;
   
  }